{% extends "./base.html" %}

{% block title %} {{ user.username }}'s Profile {% endblock %}

{% block content %}

<nav class="side-bar col-md-3">
    {% if current_user.id == user.id %}
        <a href="https://gravatar.com/emails" target="_blank"><img src="{{ user.avatar(100) }}" class="float-left" style="margin-right: 5px"></a>
    {% else %}
        <img src="{{ user.avatar(100) }}" class="float-left" style="margin-right: 5px">
    {% endif %}

    <h4>@{{ user.username }}</h4>
        {% if user.admin %}
            <h4><span>[Admin]</span></h4>
        {% endif %}
    {% if current_user.id == user.id %}
    <h6><a href="{{url_for('user.edit', user_id = current_user.id)}}"> Change Password</a></h6>
    {% endif %}
</nav>

<div class="main col-md-9">
	{% for post in posts %}
	<br>
	{% include './post/_post.html' %}
				
	{% endfor %}

	{% include './_pagination.html' %}
</div>

{% endblock %}