#body {
  background-color: #262c32;
  color: white;
}

#header {
  background-color: #24262d;
}

#header a {
  color: white;
}

#body .jumbotron {
  background-color: #2b3138;
}

#body a {
  text-decoration: none;
}

#posts .post {
  box-sizing: content-box;
  border: 2px double #22272c;
  background-color: #2b3138;
  margin-bottom: 5px;
  padding: 10px 15px;
}

#login, #signup {
  box-sizing: content-box;
  border: 2px double #22272c;
  background-color: #2b3138;
  margin-bottom: 5px;
  padding: 10px 15px;
}