{% extends './base.html' %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}
    {% include 'post/_post.html' %}
    <div class="container col-11">
        <p> Comments ({{post.comments.count()}}) </p>
        <div class="">
            <form action="{{ post.public_url() }}" method="POST" class="form-group">
            {{ form.body(class= 'form-control') }} <br>
            {{ form.csrf_token }}
            {{ form.submit(class = 'btn btn-primary')}}
            </form>
        </div>
        <br>
        <div>
        {% for comment in comments %}
            {% include 'post/_comment.html' %}
        {% endfor %}
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
        {% if prev_url %}
        <li class="page-item"><a class="page-link" href="{{ prev_url }}">Newer comments</a></li>
        {% endif %}
        {% if next_url %}
        <li class="page-item"><a class="page-link" href="{{ next_url }}">Older comments</a></li>
        {% endif %}
        </ul>
    </nav>
{% endblock %}