{% extends './base.html' %}

{% block title %} Change Password {% endblock %}

{% block content %}
<div class="jumbotron">
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}

    {% if form %}
    <form action="{{url_for('edit_user', user_id = current_user.id)}}" method="POST">
        
        <!-- Current Password Field -->
        <p class="d-flex justify-content-center">
            {{ form.current_password.label }}: <br>
            {{ form.current_password(class = 'form-control') }}
        </p>
        <br>
        {% if form.current_password.errors %}
            {% for error in form.current_password.errors%}
            <b style="color: tomato;">
				{{ error }}
			</b> <br>
		    {% endfor %}
        {% endif %}
        
        <!-- New Passowrd Field -->
        <p class="d-flex justify-content-center">
            {{ form.new_password.label }}: <br>
            {{ form.new_password(class = 'form-control')}}
        </p>
        <br>
        <p class="d-flex justify-content-center">
            {{form.confirm_password.label}}: <br>
            {{form.confirm_password(class = 'form-control')}}
        </p>
        {{ form.csrf_token }}
        <br>
        {{ form.submit(class = 'btn btn-primary')}}

    </form>
    {% endif %}
</div>
{% endblock %}