{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}

{% if message %}
    {{ message }}
{% endif %}
	{% if 'user' in session %}
		<div class="jumbotron justify-content-center">
			<a href="{{url_for('post')}}" class="btn btn-lg btn-primary"> New Post</a>
			{% for post in posts %}
				<div class="container">
					<h2>{{post.title}}</h2>
					<p>{{post.body}}</p>
					
					<p class="likes"><a href="{{url_for('like', post_id = post.id)}}" class="far fa-heart"></a><span style="margin-left: 5px;">{{ post.likes.count() }}</span></p>
					
					{% if session['user'] == post.posted_by %}
					<h6><a href="{{url_for('edit_post', post_id = post.id)}}">Edit</a></h6>
					<h6><a href="{{url_for('delete_post', post_id = post.id)}}">Delete</a></h6>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% else %}
	<div class="jumbotron">
		<h1>Welcome to Micro-Posting</h1>
		<a href="{{url_for('signup')}}" class="btn btn-lg btn-primary"> Sign Up</a>
	</div>
	{% endif %}
{% endblock %}