{% extends 'base.html' %}

{% block title %} New Post {% endblock %}

{% block content %}
<div class="jumbotron">
    {% if message %}
        {{ message }}
        <br>
    {% endif %}

    {% if form %}
    <form action="{{url_for('post')}}" method="POST">
        
        <!-- Title Field -->
        <p class="d-flex justify-content-center">
            {{ form.title.label }}: <br>
            {{ form.title }}
        </p>
        <br>
        {% if form.title.errors %}
            {% for error in form.title.errors%}
            <b style="color: tomato;">
				{{ error }}
			</b> <br>
		    {% endfor %}
        {% endif %}
        
        <!-- Body Field -->
        <p class="d-flex justify-content-center">
            {{ form.body.label }}: <br>
            {{ form.body}}
        </p>
        <br>
        {{ form.csrf_token }}
        <br>
        {{ form.submit }}

    </form>
    {% endif %}
</div>
{% endblock %}