{% extends "base.html" %}

{% block title %} User Profile {% endblock %}

{% block content %}

<h1> Your Profile </h1>
<h6> Number of posts: {{posts.count()}} </h6>

		<div id="posts">
			{% for post in posts %}
				<br>
				<div class="post">
					<h2 class="">{{post.title}}</h2>
					<p>{{post.body}}</p>

					{% if current_user.id == post.posted_by %}
					<h6><a href="{{url_for('delete_post', post_id = post.id)}}" class="float-right">&emsp; Delete</a></h6>
					<h6><a href="{{url_for('edit_post', post_id = post.id)}}" class="float-right"> Edit</a></h6>
					{% endif %}
					<p class="likes"><a href="{{url_for('like', post_id = post.id)}}" class="far fa-heart"></a><span style="margin-left: 5px;">{{ post.likes.count() }}</span></p>

				</div>
				
			{% endfor %}
		</div>

{% endblock %}