{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<div id="login">

<h1>Login</h1>

{% if message %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endif %}

{% if form %}
<form action="{{url_for('login')}}" method="POST">

	<!--Email Field -->
	<label class="label"><i class="fas fa-envelope"></i></label>
	{{ form.email(placeholder="Email", style="color:white;") }}
	<br>
	{% if form.email.errors %}
		{% for error in form.email.errors %}
			<b style="color: tomato;">
				{{ error }}
			</b> <br>
		{% endfor %}
	{% endif %}
	<!-- Password Field -->
	<label class="label"><i class="fas fa-lock"></i></label>
	{{ form.password(placeholder="Password", style="color:white;") }}
	<br>
	{% if form.password.errors %}
        {% for error in form.password.errors %}
        <b style="color:tomato;"> {{ error }} </b> 
        <br>
        {% endfor %}
    {% endif %}

    {{ form.remember_me.label }}
    {{ form.remember_me }}

    {{ form.csrf_token }}
    {{ form.submit }}
    
	
</form>
{% endif %}	
<p class="redirect">Doesn't have an account? <a href="{{url_for('signup')}}"> Sign up </a></p>
</div>

{% endblock %}