{% extends 'base.html' %}

{% block title %} New Post {% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="jumbotron">
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}

    {% if form %}
    <form action="{{url_for('new_post')}}" method="POST">
        
        <!-- Title Field -->
        <p class="d-flex justify-content-center">
            {{ form.title.label }}: <br>
            {{ form.title(class = 'form-control') }}
        </p>
        <br>
        {% if form.title.errors %}
            {% for error in form.title.errors%}
            <b style="color: tomato;">
				{{ error }}
			</b> <br>
		    {% endfor %}
        {% endif %}
        
        <!-- Body Field -->
        <p class="d-flex justify-content-center">
            {{ form.body.label }}: <br>
            {{ form.body(class = 'form-control', id = 'mytextarea')}}
        </p>
        <br>
        {{ form.csrf_token }}
        <br>
        <button class="submit btn btn-primary">{{ form.submit(class = 'btn btn-primary')}}</button>

    </form>
    {% endif %}
</div>
{% endblock %}